* {
  box-sizing: border-box; 
  moz-box-sizing: border-box;
  ms-box-sizing: border-box;
  webkit-box-sizing:border-box;
  /*border:3px inset black;
  */
  font-size:16px;
  line-height:1.2em;
  
}
header{
  display:flex;
  flex-wrap:wrap;
  padding-bottom:25px;
}

.col-3{
  width:33%;
}
.centered{
  font-size: 22px;
  text-align:center;
}
.right{
  text-align:right;
}
.info{
  display:flex;
  flex-wrap:flex;
  padding-left:5px;
}

.title{
  width:33.33%;
}
.company{
  width:33.33%;
  text-align:center;
}
.date{
  width:33.333%;
  text-align:right;
}

img{
  width:33%;
  margin-left:33%;
}

.desc{
  font-weight:bold;
  font-size:20px;
}

@media screen and (max-width:500px){
  header, .info, .right{
    display:block;
    text-align:left;
    width:100%;
    padding-bottom:0;
    }
    .col-3, .name{
    text-align:center;
    width:100%;  
    }
  .company, .date{
    text-align:left;
  }
  .addr{
    display:none;
  }

}
@media screen and (min-width:725px) {
  body{
    width:725px;
    margin-left:auto;
    margin-right:auto;
  }
}